.containerWrap {
  width: 350px;
  /* height: 300px; */
  border: 2px solid orange;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 10px 0 #cc0052;
}

.container {
  width: 250px;
  height: 250px;
}
.admin {
  margin-top: 20px;
}
.containerAd {
  width: 300px;
}
